{{- $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) -}}
{{- $small := .Page.Resources.GetMatch (printf "%s%s" "small-" (.Destination | safeURL)) -}}

{{ $alt := .PlainText | safeHTML }}

{{- if $image -}}
<figure>
<picture>
<a title="Click to enlarge the image." href="{{ $image.RelPermalink }}">
<img src="{{ with $small }}{{ .RelPermalink }}{{ else }}{{ $image.RelPermalink }}{{ end }}" {{ if .Text }} alt="{{ .Text }}" {{ end }} {{ if .Title }} title="{{ .Title }}" {{ end }} loading="lazy" decoding="async">
</a>
</picture>
<figcaption>{{ .Title | markdownify  }}</figcaption>
</figure>
{{- else -}}
<p><em>The image: {{ $image }} is currently unavailable.</em></p>
{{- end -}}
