<!DOCTYPE html>
<html lang="{{ .Site.Language }}" colour-mode="light">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <div class="main-grid">
            {{ partial "site-header.html" . }}
            <div class="wrapper">
                {{- block "main" . -}}
                {{- end -}}
                <footer id="site-footer">
                    {{ partial "footer.html" . }}
                </footer>
            </div>
        </div>
    </body>
    {{- block "script" . -}}
    {{- end -}}
</html>
