{{- define "main" -}}
<header>
    <h1>qualitypasta.net</h1>
</header>
    <main class="main-content">
        <article>
        {{ $paginator := .Paginate (site.GetPage "creepypasta").Pages.ByDate.Reverse}}
        {{- range $paginator.Pages -}}    
            <h3>
                <a href="{{ .RelPermalink }}">{{ .Title | title }}</a>
            </h3>
            <p class="subtitle"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" | humanize }}</time></p>
            {{ if .Truncated }}
            <p style="margin-top: 2rem;"><a href="{{ .RelPermalink }}">Continue reading ...</a></p>
            {{ end }}
        {{- end -}}
        </article>
    </main>
    <div class="information">
        <section>
            <h3>
                Recent Updates
            </h3>
            {{ partial "git-updates.html" . }}
        </section>
    </div>
{{- end -}}