@font-face {
  font-family: valkyrie_a;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url("/fonts/valkyrie/valkyrie_a_regular.woff2") format("woff2");
}

@font-face {
  font-family: valkyrie_a;
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url("/fonts/valkyrie/valkyrie_a_italic.woff2") format("woff2");
}

@font-face {
  font-family: valkyrie_a;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url("/fonts/valkyrie/valkyrie_a_bold.woff2") format("woff2");
}

@font-face {
  font-family: valkyrie_a;
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url("/fonts/valkyrie/valkyrie_a_bold_italic.woff2") format("woff2");
}

@font-face {
  font-family: valkyrie_a_caps;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url("/fonts/valkyrie/valkyrie_a_caps_regular.woff2") format("woff2");
}

@font-face {
  font-family: valkyrie_a_caps;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url("/fonts/valkyrie/valkyrie_a_caps_bold.woff2") format("woff2");
}

@font-face {
  font-family: valkyrie_b;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url("/fonts/valkyrie/valkyrie_b_regular.woff2") format("woff2");
}

@font-face {
  font-family: valkyrie_b;
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url("/fonts/valkyrie/valkyrie_b_italic.woff2") format("woff2");
}

@font-face {
  font-family: valkyrie_b;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url("/fonts/valkyrie/valkyrie_b_bold.woff2") format("woff2");
}

@font-face {
  font-family: valkyrie_b;
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url("/fonts/valkyrie/valkyrie_b_bold_italic.woff2") format("woff2");
}

@font-face {
  font-family: valkyrie_b_caps;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url("/fonts/valkyrie/valkyrie_b_caps_regular.woff2") format("woff2");
}

@font-face {
  font-family: valkyrie_b_caps;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url("/fonts/valkyrie/valkyrie_b_caps_bold.woff2") format("woff2");
}

@media (prefers-color-scheme: light) {
  :root {
    --header-font: valkyrie_a_caps;
    --paragraph-font: valkyrie_a;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --header-font: valkyrie_b_caps;
    --paragraph-font: valkyrie_b;
  }
}
