$article-width: 730px;

main {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1130px;
}

article {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1284px) {
  article {
    width: #{$article-width};
  }
}

@media only screen and (max-width: 1283px) and (min-width: 940px) {
  article {
    grid-template-columns: #{$article-width};
  }
}

@media only screen and (max-width: 960px) {
  article {
    max-width: #{$article-width};
  }
}
