@use "functions" as *;
@use "layout" as *;
@mixin header-text {
  font-family: var(--paragraph-font);
  font-style: italic;
  font-weight: bold;
}

@mixin normal-text {
  font-size: #{fluid(16px, 18px)};
  font-family: var(--paragraph-font);
}

@mixin small-text {
  font-size: #{fluid(12px, 14px)};
  font-family: var(--paragraph-font);
}

$line-height-regular: 1.6;
$line-height-small: 1.2;

h2, h3, h4, h5, h6 {
  @include header-text;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--header-text);
}
h1 {
  font-weight: normal;
  font-size: #{fluid(24px, 40px)};
  font-family: var(--header-font);
}

h2 {
  font-size: #{fluid(20.0959px, 26.6983px)};
}

h3 {
  font-size: #{fluid(18.3154px, 21.9219px)};
}

h4 {
  font-size: #{fluid(16px, 18px)};
}

p, blockquote, del, dfn, q, dl, dt, dd,
ol, ul, li, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, summary {
  @include normal-text;
  margin-left: calc(calc(#{$article-width} - #{$prose-width})/2);
  margin-right: calc(calc(#{$article-width} - #{$prose-width})/2);
}

strong, dt {
  font-weight: bold;
}

em, blockquote, cite {
  font-style: italic;
}

a {
  text-decoration: none;
  color: var(--hyperlink);
}

.external {
  text-decoration: underline;
  text-decoration-style: dotted;
}

abbr {
  font-family: var(--header-font);
}

figure {
  text-align: center;
}

figcaption {
  @include small-text;
}

ul, ol, dd {
  padding-inline-start: 40px;
}

li p {
  margin: 0;
}
