@media (prefers-color-scheme: light) {
  :root {
    --header-font: sans-serif;
    --paragraph-font: serif;
    --tab-font: serif;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --header-font: sans-serif;
    --paragraph-font: serif;
    --tab-font: serif;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --background: #F8F8FF;
    --body-text: #1a1a1a;
    --header-text: #292b2f;
    --disclaimerColour: #8a8d91;
    --green: #ACAF50;
    --hyperlink: #b22222;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --body-text: #e1e1e1;
    --header-text: #F8F8FF;
    --disclaimerColour: #a6a6a6;
    --green: #4CAF50;
    --hyperlink: #e94e77;
  }
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code, figure picture,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, figure, figcaption,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  max-width: 100%;
}

html, body {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  font-kerning: normal;
}

body {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, dl, hr,
figure, blockquote, footer, video, details {
  margin-bottom: clamp(1rem, 0.5vw + 0.9rem, 1.13rem);
}

body {
  background: var(--background);
  color: var(--body-text);
}

h2, h3 {
  font-weight: bold;
  font-style: italic;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-text);
}

h1 {
  font-size: clamp(1.5rem, 4vw + 0.7rem, 2.5rem);
  margin-top: 2rem;
  font-family: var(--header-font);
  font-weight: normal;
}

h2 {
  font-size: clamp(1.31rem, 1.43vw + 1.02rem, 1.67rem);
  margin-top: 2.2rem;
}

h3 {
  font-size: clamp(1.14rem, 0.9vw + 0.96rem, 1.37rem);
  margin-top: 2rem;
}

p, blockquote, del, dfn, q, dl, dt, dd, ol, ul, li, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
  font-size: 1rem;
}

strong, dt {
  font-weight: bold;
  color: var(--header-text);
}

em, blockquote, cite {
  font-style: italic;
}

a {
  color: var(--hyperlink);
}
a:hover {
  text-decoration: underline;
}

.external {
  text-decoration: dotted;
}

blockquote {
  font-style: italic;
}

figure {
  text-align: center;
}

figcaption,
.sidenote,
.marginnote,
.table-of-contents {
  font-size: clamp(0.75rem, 0.5vw + 0.65rem, 0.88rem);
  line-height: 1.4;
}

.new-thought {
  font-family: var(--header-font);
}

.subtitle {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: clamp(1.31rem, 1.43vw + 1.02rem, 1.67rem);
  display: block;
  line-height: 1;
}

.prose-page {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%;
  max-width: 1400px;
  counter-reset: sidenote-counter;
}
.prose-page article {
  padding-top: 2rem;
  padding-bottom: 5rem;
}
.prose-page section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.prose-page blockquote > p {
  width: 55%;
  margin-right: 40px;
}
.prose-page h1 {
  width: 75%;
  padding-top: 5rem;
}
.prose-page h2, .prose-page h3 {
  width: 55%;
}
.prose-page section > p,
.prose-page section > table {
  width: 55%;
}
.prose-page section > dl,
.prose-page section > ol,
.prose-page section > ul {
  width: 50%;
  -webkit-padding-start: 5%;
  padding-inline-start: 5%;
}
.prose-page dt:not(:first-child),
.prose-page li:not(:first-child) {
  margin-top: 0.25rem;
}
.prose-page figure {
  padding: 0;
  border: 0;
  vertical-align: baseline;
  max-width: 55%;
}
.prose-page figcaption {
  text-align: center;
  vertical-align: baseline;
  position: relative;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.prose-page section > img {
  width: 100%;
}
.prose-page .sidenote,
.prose-page .marginnote,
.prose-page .table-of-contents {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0.3rem;
  margin-bottom: 0;
  vertical-align: baseline;
  position: relative;
}
.prose-page .sidenode-number {
  counter-increment: sidenote-counter;
}
.prose-page .sidenote-number:after,
.prose-page .sidenote:before {
  position: relative;
  vertical-align: baseline;
}
.prose-page .sidenote-number:after {
  counter: counter(sidenote-counter);
  top: -0.5rem;
  left: 0.1rem;
}
.prose-page .sidenote:before {
  content: counter(sidenote-counter) " ";
  top: -0.5rem;
}
.prose-page blockquote .sidenote,
.prose-page blockquote .marginnote {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}
.prose-page div.full-width,
.prose-page table.full-width,
.prose-page code {
  width: 100%;
}
.prose-page div.table-wrapper {
  ovetflow-x: autp;
}
.prose-page code, .prose-page pre > code {
  -webkit-text-size-adjust: 100%;
}
.prose-page pre.full-width > code {
  width: 90%;
}
.prose-page .full-width {
  max-width: 90%;
  clear: both;
}

@media (max-width: 1300px) {
  .prose-page {
    width: 95%;
    padding-left: 5%;
  }
  .prose-page h1, .prose-page h2, .prose-page h3 {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .prose-page {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .prose-page hr,
  .prose-page section > p,
  .prose-page section > footer,
  .prose-page section > table {
    width: 100%;
  }
  .prose-page pre > code {
    width: 97%;
  }
  .prose-page section > dd,
  .prose-page section > ol,
  .prose-page section > ul {
    width: 90%;
  }
  .prose-page figure {
    max-width: 100%;
  }
  .prose-page figcaption,
  .prose-page figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }
  .prose-page blockquote {
    margin-left: 1.5em;
    margin-right: 0em;
  }
  .prose-page blockquote p,
  .prose-page blockquote footer {
    width: 100%;
  }
  .prose-page .sidenote,
  .prose-page .marginnote {
    display: none;
  }
  .prose-page img {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .prose-page {
    width: 88%;
    padding-left: 6%;
    padding-right: 6%;
  }
}
@media (max-width: 800px) {
  .prose-page {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}
video {
  max-height: 80vh;
  width: auto;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.invert {
  filter: invert(1);
}

.threshhold {
  filter: brightness(150%) grayscale(100%) contrast(1000%);
}

@media only screen and (min-width: 720px) {
  .float-right {
    float: right;
    max-width: 250px;
    padding-left: clamp(1rem, 0.5vw + 0.9rem, 1.13rem);
  }
  .side-by-side {
    max-width: 1440px;
    display: flex;
    gap: clamp(1rem, 0.5vw + 0.9rem, 1.13rem);
  }
  .side-by-side img {
    max-height: 800px;
  }
  .big-image {
    max-width: 1440px;
    text-align: left;
  }
  .big-image img {
    max-height: 80vh;
    max-width: 100%;
    height: auto;
  }
}
.float-right figcaption {
  width: 140px;
  position: absolute;
  overflow-wrap: breakword;
}

.clear-fix {
  clear: both;
  margin: 0;
  padding: 0;
}

#content-grid {
  display: grid;
  padding-left: 10%;
  padding-right: 10%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 0.5rem;
  grid-auto-rows: auto;
}
#content-grid .post, #content-grid .grid-header {
  padding: 0.5rem;
  border: 1px solid gray;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
#content-grid .post:hover, #content-grid .grid-header:hover {
  background-color: lime;
}
#content-grid .post a, #content-grid .grid-header a {
  text-decoration: none;
}
#content-grid .post a:hover, #content-grid .grid-header a:hover {
  text-decoration: underline;
}
#content-grid .post h2, #content-grid .grid-header h2 {
  font-weight: bold;
  font-style: normal;
}
#content-grid .post h3, #content-grid .grid-header h3 {
  font-weight: bold;
  font-style: normal;
}

.green-text {
  color: var(--green);
}
.green-text ul {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
}
.green-text li {
  text-indent: -1em;
}
.green-text li:before {
  content: ">";
  padding-right: 5px;
}

.grid-list ul {
  column-count: 2;
  column-gap: 2em;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-inline-start: 0;
}
.grid-list li {
  margin: 0;
  padding: 0;
  margin-bottom: 0.6em;
  list-style-type: none;
}

.header-image {
  width: 100vw;
  height: 50vh;
  background-position: center;
  background-size: cover;
}

.site-nav {
  overflow: hidden;
  background: black;
  color: var(--background);
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 2px solid var(--header-text);
}
.site-nav .header-information {
  overflow: hidden;
  padding: 0 2em 7px 2em;
  margin: 0;
}
.site-nav .header-information h1 {
  font-family: var(--paragraph-font);
  font-weight: bold;
}
.site-nav a {
  color: var(--background);
  text-decoration: none;
}

.header-image {
  width: 140px;
  height: 240px;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}
.header-image img {
  verticle-align: middle;
}

.header-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.header-nav li {
  margin-right: 20px;
}
.header-nav li:last-child {
  margin: 0;
}

.highlight {
  font-family: monospace;
  overflow-x: scroll;
  border: solid 2px var(--body-text);
}
.highlight .chroma {
  padding: 0.5rem;
}
.highlight .code-title {
  text-align: left;
  font-family: monospace;
  font-weight: bold;
  font-style: italic;
  border-bottom: solid 2px var(--body-text);
}
.highlight .code-title a {
  color: #ebdbb2;
}
.highlight .code-title tt {
  font-size: clamp(0.75rem, 0.75vw + 0.6rem, 0.94rem);
}

/* Generated using: hugo gen chromastyles --style=gruvbox */
/* Background */
.bg {
  color: #ebdbb2;
  background-color: #282828;
}

/* PreWrapper */
.chroma {
  color: #ebdbb2;
  background-color: #282828;
}

/* Other */
/* Error */
/* CodeLine */
/* LineLink */
.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit;
}

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineHighlight */
.chroma .hl {
  background-color: #3d3d3d;
}

/* LineNumbersTable */
.chroma .lnt {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #756d59;
}

/* LineNumbers */
.chroma .ln {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #756d59;
}

/* Line */
.chroma .line {
  display: flex;
}

/* Keyword */
.chroma .k {
  color: #fe8019;
}

/* KeywordConstant */
.chroma .kc {
  color: #fe8019;
}

/* KeywordDeclaration */
.chroma .kd {
  color: #fe8019;
}

/* KeywordNamespace */
.chroma .kn {
  color: #fe8019;
}

/* KeywordPseudo */
.chroma .kp {
  color: #fe8019;
}

/* KeywordReserved */
.chroma .kr {
  color: #fe8019;
}

/* KeywordType */
.chroma .kt {
  color: #fabd2f;
}

/* Name */
/* NameAttribute */
.chroma .na {
  color: #b8bb26;
  font-weight: bold;
}

/* NameBuiltin */
.chroma .nb {
  color: #fabd2f;
}

/* NameBuiltinPseudo */
/* NameClass */
/* NameConstant */
.chroma .no {
  color: #d3869b;
}

/* NameDecorator */
/* NameEntity */
.chroma .ni {
  color: #fabd2f;
}

/* NameException */
.chroma .ne {
  color: #fb4934;
}

/* NameFunction */
.chroma .nf {
  color: #fabd2f;
}

/* NameFunctionMagic */
/* NameLabel */
.chroma .nl {
  color: #fb4934;
}

/* NameNamespace */
/* NameOther */
/* NameProperty */
/* NameTag */
.chroma .nt {
  color: #fb4934;
}

/* NameVariable */
/* NameVariableClass */
/* NameVariableGlobal */
/* NameVariableInstance */
/* NameVariableMagic */
/* Literal */
/* LiteralDate */
/* LiteralString */
.chroma .s {
  color: #b8bb26;
}

/* LiteralStringAffix */
.chroma .sa {
  color: #b8bb26;
}

/* LiteralStringBacktick */
.chroma .sb {
  color: #b8bb26;
}

/* LiteralStringChar */
.chroma .sc {
  color: #b8bb26;
}

/* LiteralStringDelimiter */
.chroma .dl {
  color: #b8bb26;
}

/* LiteralStringDoc */
.chroma .sd {
  color: #b8bb26;
}

/* LiteralStringDouble */
.chroma .s2 {
  color: #b8bb26;
}

/* LiteralStringEscape */
.chroma .se {
  color: #b8bb26;
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: #b8bb26;
}

/* LiteralStringInterpol */
.chroma .si {
  color: #b8bb26;
}

/* LiteralStringOther */
.chroma .sx {
  color: #b8bb26;
}

/* LiteralStringRegex */
.chroma .sr {
  color: #b8bb26;
}

/* LiteralStringSingle */
.chroma .s1 {
  color: #b8bb26;
}

/* LiteralStringSymbol */
.chroma .ss {
  color: #83a598;
}

/* LiteralNumber */
.chroma .m {
  color: #d3869b;
}

/* LiteralNumberBin */
.chroma .mb {
  color: #d3869b;
}

/* LiteralNumberFloat */
.chroma .mf {
  color: #d3869b;
}

/* LiteralNumberHex */
.chroma .mh {
  color: #d3869b;
}

/* LiteralNumberInteger */
.chroma .mi {
  color: #d3869b;
}

/* LiteralNumberIntegerLong */
.chroma .il {
  color: #d3869b;
}

/* LiteralNumberOct */
.chroma .mo {
  color: #d3869b;
}

/* Operator */
.chroma .o {
  color: #fe8019;
}

/* OperatorWord */
.chroma .ow {
  color: #fe8019;
}

/* Punctuation */
/* Comment */
.chroma .c {
  color: #928374;
  font-style: italic;
}

/* CommentHashbang */
.chroma .ch {
  color: #928374;
  font-style: italic;
}

/* CommentMultiline */
.chroma .cm {
  color: #928374;
  font-style: italic;
}

/* CommentSingle */
.chroma .c1 {
  color: #928374;
  font-style: italic;
}

/* CommentSpecial */
.chroma .cs {
  color: #928374;
  font-style: italic;
}

/* CommentPreproc */
.chroma .cp {
  color: #8ec07c;
}

/* CommentPreprocFile */
.chroma .cpf {
  color: #8ec07c;
  font-style: italic;
}

/* Generic */
/* GenericDeleted */
.chroma .gd {
  color: #282828;
  background-color: #fb4934;
}

/* GenericEmph */
.chroma .ge {
  color: #83a598;
  text-decoration: underline;
}

/* GenericError */
.chroma .gr {
  background-color: #fb4934;
  font-weight: bold;
}

/* GenericHeading */
.chroma .gh {
  color: #b8bb26;
  font-weight: bold;
}

/* GenericInserted */
.chroma .gi {
  color: #282828;
  background-color: #b8bb26;
}

/* GenericOutput */
.chroma .go {
  color: #504945;
}

/* GenericPrompt */
/* GenericStrong */
/* GenericSubheading */
.chroma .gu {
  color: #b8bb26;
  font-weight: bold;
}

/* GenericTraceback */
.chroma .gt {
  background-color: #fb4934;
  font-weight: bold;
}

/* GenericUnderline */
/* TextWhitespace */
/*
  I am a lazy bastard and used Edward Tufte's tufte-css for the base of my layout.
  You can view the source code of his theme here:
  https://github.com/edwardtufte/tufte-css
*/

/*# sourceMappingURL=style.css.map */
