@media (prefers-color-scheme: light) {
  :root {
    --background: #f8f5f5;
    --body-text: #1e0a0a;
    --header-text: #1e0a0a;
    --disclaimerColour: #7A6F6F;
    --green: #ACAF50;
    --hyperlink: #9A1F1F;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0B0B;
    --body-text: #eee7e6;
    --header-text: #eee7e6;
    --disclaimerColour: #B8A99A;
    --green: #4CAF50;
    --hyperlink: #7e2323;
  }
}
