@media (prefers-color-scheme: light) {
  :root {
    --header-font: sans-serif;
    --paragraph-font: serif;
    --tab-font: serif;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --header-font: sans-serif;
    --paragraph-font: serif;
    --tab-font: serif;
  }
}
