@use "functions" as *;

@mixin main-section {
  max-width: #{$article-width};
}

$article-width: 800px;
$side-width: 400px;
$gap-width: 36px;
$full-width: calc(#{$side-width} + #{$article-width} + #{$side-width});
$prose-width: 730px;
.top {
  max-width: $article-width;
}

main, .top {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

main {
  max-width: #{$full-width};
}

.single, .top {
  max-width: #{$full-width};
}

.article {
  max-width: #{$article-width};
  margin-left: auto;
  margin-right: auto;
}

.article-grid {
  max-width: #{$full-width};
  display: grid;
  grid-template-columns: calc(#{$side-width} - #{$gap-width}) calc(#{$article-width} + #{$side-width});
  grid-column-gap: #{$gap-width};
}

.photography {
  max-width: calc(#{$article-width} + #{$side-width});
  figure {
    max-width: 960px;
  }
}

.photo-info {
}

article {
  figure, table {
    max-width: #{$article-width};
  }
  p, ul, ol, dl, h2, h3, h4, h5, h6 {
    max-width: #{$prose-width};
  }
}

.information, .sidenote, .sidenote p {
  float: right;
  clear: right;
  width: calc(#{$side-width} - #{$gap-width});
  vertical-align: baseline;
}

/*
@media only screen and (min-width: 1284px) {
  main {
    width: #{$article-width};
  }
}

@media only screen and (max-width: 1283px) and (min-width: 940px) {
  main {
    width: #{$article-width};
  }
}

@media only screen and (max-width: 960px) {
  main {
    max-width: #{$article-width};
  }
}
*/
