@use "functions" as *;
@use "fonts" as *;
@mixin font-header {

}

@mixin normal-text {
  font-size: #{fluid(16px, 20px)};
}

@mixin small-text {
  font-size: #{fluid(12px, 14.7361px)};
  line-height: 1.4;
}

$line-height-heading: 1.2;

h2, h3 {
  font-weight: bold;
  font-style: italic;
  line-height: #{$line-height-heading};
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-text);
}

h1 {
  font-size: #{fluid(24px, 50px)};
  margin-top: 2rem;
  font-family: var(--header-font);
  font-weight: bold;
}

h2 {
  font-size: #{fluid(20.9659px, 36.8403px)};
  margin-top: 2.2rem;
}

h3 {
  font-size: #{fluid(18.3154px, 27.1442px)};
  margin-top: 2rem;
}

p, blockquote, del, dfn, q, dl, dt, dd, ol, ul, li, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
  @include normal-text;
}

strong, dt {
  font-weight: bold;
  color: var(--header-text);
}

em, blockquote, cite {
  font-style: italic;
}

a {
  color: var(--hyperlink);

  &:hover {
    text-decoration: underline;
  }
}

.external {
  text-decoration: dotted;
}

blockquote {
  font-style: italic;
}

figure {
  text-align: center;
}

figcaption,
.sidenote,
.marginnote,
.table-of-contents {
  @include small-text;
}

.new-thought {
  font-family: var(--header-font);
}

.subtitle {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: #{fluid(20.9659px, 26.6983px)};
  display: block;
  line-height: 1;
}
