.green-text {
  color: var(--green);
  ul {
    list-style: none;
    margin-left: 0;
    margin-right: 0;
  }
  li {
    text-indent: -1em;
    &:before {
      content: ">";
      padding-right: 5px;
    }
  }
}
